* {
  margin: 0;
  padding: 0;
  color: black;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

.margen-especial{
  margin-top: 100px ;
}

.container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;

  width: 100%;
  height: 100px;
  align-items: center;
  justify-content: space-evenly;
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
  transition: 0.3s ease-out;
}

.container2 {
  height: 400px;
}

#section3 .container2 {
  height: 800px;
}

#section3 > .container2 p {
  font-size: 15px;
  color: black;
}

span {
  font-size: 20px;
  font-weight: 400;
}

#section1 .container {
  box-shadow: 0.1rem 0.1rem 0.1rem 0.4rem rgb(159, 166, 174);
}

/* verificar */
.portada {
  width: 100vw;
  max-height: 600px;
}

#section2 .container2 {
  background-color: black;
}

.foto-clases img {
  max-width: 500px;
  max-height: 500px;

  border-radius: 20px;
}

.f .english-class p {
  padding: 40px;
  text-align: justify;
}

@media (min-aspect-ratio: 16/9) {
  .foto-clases img {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  .foto-clases img {
   width: 50%;
    height: 100%;
    padding: 10px;
  
    
  }
}
.comentario {
  height: 400px;
}


#tabla1 tr{

  text-align: center;

  
}


.table th{


  text-align: center;
  color: rgb(2, 58, 147);
  font-size: 15px;
  font-weight: 400;
}



#section4 img {
  width: 400px;
  margin-top: 20px;
  margin-bottom: 20px;
  
}

.english-class{

  margin-left: 20px;
  margin-right: 20px;
  text-align: justify;
}

#section3 .container .foto-clases .container-img{

  display: flex;
  justify-content: center;
  align-items: center;

}


@media(max-aspect-ratio: 16/9){


#section8 .foto-clases img{

  width: auto;

  height: 150px;

  margin-top: 10px;
 
 
 
 }
}


@media(min-aspect-ratio: 16/9){

  #section8 .foto-clases  img{

 height: 200px;
 width: 100%;
 margin-top: 10px;


}
  
}





@media(min-aspect-ratio: 16/9){

  .video-clases video{

    height: auto;
    width: 400px;
    padding: 5px;
  }
  
}

@media(max-aspect-ratio: 16/9){

  .video-clases video{

    height: auto;
    width: 250px;
    padding: 5px;
  }
}

#nombre_usuario{

  background-color: white;
}