* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 100px;
  width: 100%;
  height: 100px;
  align-items: center;
  justify-content: space-evenly;
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
  transition: 0.3s ease-out;
}

.container2 {
  height: 400px;
}

#section3 .container2 {
  height: 800px;
}

#section3 > .container2 p {
  font-size: 15px;
  color: black;
}

span {
  font-size: 20px;
  font-weight: 400;
}

#section1 .container {
  box-shadow: 0.1rem 0.1rem 0.1rem 0.4rem rgb(159, 166, 174);
}

/* verificar */
.portada {
  width: 100vw;
  max-height: 600px;
}

#section2 .container2 {
  background-color: black;
}

.foto-clases img {
  max-width: 500px;
  max-height: 500px;

  border-radius: 20px;
}

.f .english-class p {
  padding: 40px;
  text-align: justify;
}

@media (min-aspect-ratio: 16/9) {
  .foto-clases img {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  .foto-clases img {
    width: 200px;
    height: 100%;
    padding: 10px;
    margin-top: 80px;
  }
}
